.chat-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chat-welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888;
}